* {
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    position: relative;
    width: 1020px;
    min-height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}
li {
    list-style: none;
}
a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    cursor: pointer; 
}
img:focus {
    outline: none;
}
.flex {
    display: flex;
}
.wrapper {
    display: grid;
    grid-template-rows: 89px 1100px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
}
.header {
    width: 100%;
    justify-content: space-between;
    background: #2d303a;
}
.logo {
    margin: 32px 10px 29.5px 38px;
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo__item-white {
    color: #ffffff;
}
.logo__item-red {
    position: relative;
    right: 2px;
    font-weight: 300;
    line-height: 6px;
    color: #f06c64;
}
.navigation {
    width: 411px;
    margin-top: 44.3px;
}
.nav__item {
    margin-right: 9px;
}
.nav__item::after {
    content: " · ";
    margin-left: 13px;
    color: #494e62;
}
.nav__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 6px;
    text-transform: uppercase;
    transition: .3s all ease;
    color: #ffffff;
}
.nav__link:hover {
    color: #f06c64;
}
.nav__link-red {
    transition: .3s all ease;
    color: #f06c64;
}
.nav__link-red:hover {
    color: #ffffff;
}
.main {
    position: relative;
    display: grid;
    grid-template-rows: 600px 496px;
    grid-template-columns: 1020px;
    border-top: 6px solid #323746;
}
.slider {
    border-bottom: 6px solid #ea676b;
    overflow-x: hidden;
    background: #f06c64;
}
.slider__arrow {
    display: inline-block;
    position: absolute;
    opacity: 0.8;
}
.slider__arrow-left {
    left: 4.2%;
    margin-top: 281px;
    cursor: pointer;
}
.slider__arrow-right {
    right: 4%;
    margin-top: 280px;
    cursor: pointer;
}
.slide__img {
    position: absolute;
    display: inline-block;
}
.img-vertical {
    top: 53px;
    left: 112px;
}
.img-horizontal {
    right: 111px;
    top: 174px
}
